---
title: Chi può usare il defibrillatore?
autore: Luca Nicola
date: 2014-04-05 21:10 UTC
tags: aspetti legali, uso, legge, regole
image: "https://lh5.googleusercontent.com/-3H2Z_dJXdsk/U0UM_XKUdtI/AAAAAAAAkSI/0nXSh5wAlyk/w1042-h693-no/B_FPX0160.jpg"
---

<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>