---
title: Cosa fare nell'emergenza
autore: Luca Nicola
date: 2014-04-08
tags: gestione emergenza, cosa fare, informazione, sensibilizzazione
image: "https://lh4.googleusercontent.com/-BrqYnuV0bpE/U0UPBZxZ-fI/AAAAAAAAk2g/HK8JvVnSiFA/w1042-h693-no/FPX1255.jpg"
---

<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>