---
title: In Italia 60.000 persone colpite ogni anno
autore: Luca Nicola
date: 2014-04-07
tags: dati, informazione, sensibilizzazione
published: true
image: "https://lh6.googleusercontent.com/-0PNIHl4qOLA/U0UQyqrOp0I/AAAAAAAAlSk/ToogWr8a0zQ/w1040-h693-no/FPX8723.jpg"
---
<p class="abstract">
    <%= lorem.paragraph %>
</p>

<% if is_blog_article? %>
    <%= tag :img, :src => current_page.data.image, :alt => 'palla', :class => 'padding' %>
<% end %>

READMORE

<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>
<p>
    <%= lorem.paragraph %>
</p>
