---
layout: home
---

<% page_articles.each_with_index do |article, i| %>

    <article>

        <h3><%= link_to article.title, article %></h3>
        <h6>Written by <a href="#">John Smith</a> on <%= article.date.strftime('%b %e') %>.</h6>

        <div class="row">
            <div class="large-6 columns">
                <%= article.summary %>
            </div>
            <div class="large-6 columns">
                <%= tag :img, :src => article.metadata[:page]["image"] %>
            </div>
        </div>

    </article>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
