---
layout: home
---
<ul class="large-block-grid-2">
<% page_articles.each_with_index do |article, i| %>


    <li>
        <article>
            <div class="row">
                <div class="large-12 columns">
                    <h3><%= link_to article.title, article %></h3>
                    <h6 class="subheader blog-metadata">Scritto da <a href="#"><%= article.metadata[:page]["autore"] %></a> on <%= article.date.strftime('%b %e %Y') %>.</h6>
                    <%= tag :img, :src => article.metadata[:page]["image"] %>
                    <%= article.summary %>
                </div>
            </div>
        </article>
    </li>

<% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
