<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css'>

  </head>
  <body class="<%= page_classes %>">

  <!-- Nav Bar -->
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><%= link_to 'Philips', '/index.html'  %></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li><%= link_to 'Cosa dice la legge', '/pagine/cosa_dice_la_legge.html'  %></li>
                    <li class="has-dropdown">
                        <a href="#">Right Button with Dropdown</a>
                        <ul class="dropdown">
                            <li><a href="#">First link in dropdown</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </nav>
    </div>


    <%= yield %>



  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


    <%= javascript_include_tag  "all" %>
  </body>
</html>
