<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>

  </head>
  <body class="<%= page_classes %>">

  <!-- Nav Bar -->

  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><%= link_to 'Cosa dice la legge', '/pagine/cosa_dice_la_legge.html', :class => 'button'  %></li>
         <li><a href="#" class="button">Link 2</a></li>
         <li><a href="#" class="button">Link 3</a></li>
         <li><a href="#" class="button">Link 4</a></li>
        </ul>
      </div>
      <h1><%= link_to 'Philips', '/index.html'  %> <small>This is my blog</small></h1>
      <hr />
    </div>
  </div>

  <!-- End Nav -->

  <div class="row">
    <div class="large-12 columns">
        <ul class="example-orbit" data-orbit>
            <li><img src=
            "http://placehold.it/1000x400&amp;text=[%20img%201%20]"></li>
            <li><img src=
            "http://placehold.it/1000x400&amp;text=[%20img%202%20]"></li>
            <li><img src=
            "http://placehold.it/1000x400&amp;text=[%20img%203%20]"></li>
        </ul>
    </div>
</div>

 <% sitemap.resources %>


  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">

        <%= yield %>

    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="large-3 columns">

        <h5>Recent Articles</h5>
        <ul class="side-nav">
            <% blog.articles[0...10].each do |article| %>
                <li><%= link_to article.title, article %></li>
            <% end %>
        </ul>

        <h5>Tags</h5>
        <ul class="side-nav">
            <% blog.tags.each do |tag, articles| %>
                <li><%= link_to tag, tag_path(tag) %> (<%= articles.size %>)</li>
             <% end %>
        </ul>

        <h5>By Year</h5>
        <ul class="side-nav">
            <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                <li><%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</li>
            <% end %>
        </ul>

        <div class="panel">
            <h5>Featured</h5>
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
            <a href="#">Read More &rarr;</a>
        </div>

    </aside>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


  <!-- Footer -->

  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


    <%= javascript_include_tag  "all" %>
  </body>
</html>
